In [2]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

from cql_queries import *

In [4]:
# Connect to a database


# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

# Query 1: Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

In [6]:
sessionId = 338
itemInSession = 4


try:
    rows = session.execute(query1, (sessionId, itemInSession))
except Exception as e:
    print(e)

colnames=["artist","song_title","song_length"]
query1_df = pd.DataFrame(list(rows),columns=colnames)
query1_df

      artist                       song_title  song_length
0  Faithless  Music Matters (Mark Knight Dub)   495.307312

# Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [7]:
userid = 10
sessionid = 182


try:
    rows = session.execute(query2, (userid, sessionid))
except Exception as e:
    print(e)

colnames=['artist', 'song_title', 'user_first_name', 'user_last_name' ]
query2_df = pd.DataFrame(list(rows),columns=colnames)
query2_df

,artist,song_title,user_first_name,user_last_name
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

# Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [8]:
song_title='All Hands Against His Own'

try:
    rows = session.execute(query3, (song_title, ))
except Exception as e:
    print(e)

colnames=['user_first_name', 'user_last_name']
query3_df = pd.DataFrame(list(rows),columns=colnames)
query3_df

  user_first_name user_last_name
0      Jacqueline          Lynch
1           Tegan         Levine
2            Sara        Johnson